<div id="<%= dom_id post %>">
  <div style="display: flex; flex-direction: column">
    <strong><%= post.title %></strong>
    <span><%= post.user_email %></span>
    <span><%= post.is_published ? "published" : "not published" %></span>
  </div>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
